<article class="flex bg-black bg-cover bg-center md:justify-end" style="background-image: url(http://kombicelebrations:8888/wp-content/uploads/2020/05/Taryn_Andrew_Vintage-Beach-Wedding_034-1280x1920-1.jpg)">
    <div class="w-full md:w-1/2 bg-white bg-opacity-85 flex flex-col justify-center items-center text-center p-6 mt-64 md:m-0 md:pt-28 lg:pt-40 md:pb-16">
        <h1 class="text-3xl md:text-5xl lg:text-6xl leading-none mb-2">Award winning Australia-wide Kombi hire </h1>
        <p class="text-1xl md:text-2xl leading-none lg:text-3xl mb-3 md:mb-6">Some other secondary line here</p>
        <a href="#" class="font-bold bg-kombiblue hover:bg-black text-white px-5 py-3 leading-none rounded transition-colors duration-200">Get a quote</a>
    </div>
</article>