<article>
	<div class="pb-16x9 relative">
		<img src="{{post.thumbnail|resize(160)}}" alt="{{ post.thumbnail.alt }}" loading="lazy" class="block absolute top-0 left-0 w-full h-full object-scale-down opacity-50" />
	</div>
</article>