<blockquote class="flex flex-col items-center space-around" itemprop="review" itemscope itemtype="http://schema.org/Review">
	<p itemprop="reviewBody" class="text-center mb-2 italic">{{post.post_excerpt}}</p>
	<footer  class="flex items-center">
		<img src="{{post.thumbnail|resize(128, 128)}}" class="w-10 h-10 rounded-full mr-4" />
		<div class="text-sm">
			<cite itemprop="author" class="block text-sm">{{post.title}}</cite>
			<time itemprop="datePublished" class="block">{{ post.date("F Y") }}</time>
		</div>
	</footer>
</blockquote>