{% if menu %}
	<ul class="text-sm md:flex-grow">
		
	{% for item in items %}
		<li class="block md:inline-block md:mr-4 md:mt-0">
			<a v-on:click="toggleSubNav({{ loop.index }})" target="{{ item.target }}" href="{{ item.link }}" class="block py-1 md:text-lg md:pt-6 md:pb-6">{{ item.title }}</a>
			{% include "megamenu.twig" with {'items': item.children} %}
		</li>
	{% endfor %}
	</ul>
{% endif %}