{% if menu %}
	<ul class="text-sm lg:flex-grow">
	{% for item in items %}
		<li class="block mr-4 lg:inline-block lg:mt-0 hover:text-black">
			<a target="{{ item.target }}" href="{{ item.link }}" class="text-lg block pt-6 pb-6">{{ item.title }}</a>
			{% include "megamenu.twig" with {'items': item.children} %}
		</li>
	{% endfor %}
	</ul>
{% endif %}