<article>
<a href="{{post.link}}">
	{% if post.get_thumbnail %}
		<img src="{{post.thumbnail|resize(300, 190)}}" class="w-full" />
	{% endif %}
	<h2 class="h2 leading-none pt-2">{{post.title}}</h2>
	</a>
</article>