<article>
<a href="{{post.link}}" class="block hover:opacity-75 transition-opacity ease-in-out duration-500">
	{% if post.get_thumbnail %}
		<img src="{{post.thumbnail|resize(300, 190)}}" alt="{{ post.thumbnail.alt }}" loading="lazy" class="w-full mb-3" />
	{% endif %}
	<h2 class="leading-none text-sm">{{post.title}}</h2>
	</a>
</article>