<div class="description-wide" style="margin: 5px 0;">
    <div class="description">SVG Icon</div>
    <div class="logged-input-holder">
        {{ iconValue }}
        <textarea class="widefat" type="text" name="{{ iconName }}[{{ item_id }}]">{{ iconValue }}</textarea>
    </div>
</div>