@tailwind base;

@tailwind components;

@tailwind utilities;

.kc-logo {
    width: 65px;
    height: 30px;
}

@media (max-width: 767px) {
    .site-navigation__menu {
        left: 100%;
    }

    .site-navigation__menu.show {
        left: 0;
    }

    .site-navigation__menu:before {
        transition: opacity linear .2s;
        content: "";
        opacity: 0;
        @apply bg-black bg-opacity-50 block absolute top-0 left-0 bottom-0 right-0;
    }

    .site-navigation__menu.show:before {
        opacity: 1;
    }

    .site-navigation__menulisting {
        transition: transform linear .2s;
        transform: translate3d(100%, 0, 0);
    }

    .site-navigation__menu.show .site-navigation__menulisting {
        transform: translate3d(0, 0, 0);
    }
}

@media (min-width: 768px) {
    .site-navigation .megamenu {
        visibility: hidden;
        opacity: 0;
        display: none;
    }
    
    .site-navigation li:hover > .megamenu,
    .site-navigation li:focus-within > .megamenu,
    .site-navigation li .megamenu:hover,
    .site-navigation li .megamenu:focus {
        visibility: visible;
        opacity: 1;
        display: flex;
        /* animation: fadein .4s; */
    }
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }

#crmWebToEntityForm {
    width: 100% !important;
    max-width: 40rem;
    margin: auto;
}

#crmWebToEntityForm br {
    display: none;
}

#crmWebToEntityForm table {
    background: transparent !important;
    width: 100% !important;
}

#crmWebToEntityForm td {
    padding: 0 0 .5rem 0;
    font-family: 'Raleway', 'sans-serif' !important;
}

#crmWebToEntityForm tr:first-child strong {
    font-size: 2rem;
}

#crmWebToEntityForm table td:nth-child(3) {
    display: none;
}

#crmWebToEntityForm input,
#crmWebToEntityForm select,
#crmWebToEntityForm textarea {
    border: 1px solid black;
    border-radius: none;
}

.scroll-snap-both-mandatory {
    scroll-snap-type: both mandatory;
}

@responsive {
    .angle {
        clip-path: polygon(2rem 0%, 100% 0, 100% 100%, 0% 100%);
    }
}

@responsive {
    .bg-blur {
        backdrop-filter: blur(8px);
    }
}