@tailwind base;

@tailwind components;

@tailwind utilities;

.kc-logo {
    width: 65px;
    height: 30px;
}

@media (min-width: 1024px) {
    .site-navigation .megamenu {
        visibility: hidden;
        opacity: 0;
        display: none;
        transition: opacity 3s linear;
    }
    
    .site-navigation li:hover > .megamenu,
    .site-navigation li:focus-within > .megamenu,
    .site-navigation li .megamenu:hover,
    .site-navigation li .megamenu:focus {
        visibility: visible;
        opacity: 1;
        display: flex;
    }
}

#crmWebToEntityForm {
    width: 100% !important;
    max-width: 40rem;
    margin: auto;
}

#crmWebToEntityForm br {
    display: none;
}

#crmWebToEntityForm table {
    background: transparent !important;
    width: 100% !important;
}

#crmWebToEntityForm td {
    padding: 0 0 .5rem 0;
    font-family: 'Raleway', 'sans-serif' !important;
}

#crmWebToEntityForm tr:first-child strong {
    font-size: 2rem;
}

#crmWebToEntityForm table td:nth-child(3) {
    display: none;
}

#crmWebToEntityForm input,
#crmWebToEntityForm select,
#crmWebToEntityForm textarea {
    border: 1px solid black;
    border-radius: none;
}

.scroll-snap-both-mandatory {
    scroll-snap-type: both mandatory;
}

.angle {
    clip-path: polygon(2rem 0%, 100% 0, 100% 100%, 0% 100%);
}

.bg-blur {
    backdrop-filter: blur(4px);
}